/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache


docker/config
docker/data
docker/logs

www/eblapihub/vendor
www/eblapihub/storage
www/eblapihub/tests
www/eblapihub/.*
!www/eblapihub/.env.example
www/eblapihub/composer.lock
www/eblapihub/package-lock.json
www/eblapihub/webpack.mix.js
www/eblapihub/README.md



www/webversion/vendor
www/webversion/storage
www/webversion/tests
www/webversion/.*
!www/webversion/.env.example
www/webversion/composer.lock
www/webversion/package-lock.json
www/webversion/README.md


